<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EquipFlow | Clinical Systems</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../assets/images/icone1.png" type="image/png">

    <!-- CSS - estilos da pagina -->
    <link rel="stylesheet" href="../../assets/css/1241677_privado.css">
</head>
<body>
<!-- Navbar --> 
<header class="bng-navbar">
    <!-- Logo e nome da empresa -->
    <div>
        <a href="../dashboard.html">
            <img src="../../assets/images/Logo1.png" alt="Logo da empresa">
        </a>
        <!--<h3>EquipFlow | Clinical Systems</h3>-->
    </div>
    <div>
        <button>Utilizador</button>
    </div>
</header>

<!-- Sidebar --> 
<aside class="sidebar"> 
    <h4>Menu</h4> 
    <nav> 
        <a href="../dashboard.html">Dashboard</a> 
        <a href="equipamentos.html">Equipamentos</a> 
        <a href="localizacoes.html">Localizações</a> 
        <a href="fornecedores.html">Fornecedores</a> 
    </nav> 
</aside> 

<!-- Conteúdo Principal --> 
<main class="content"> 
    <section> 
        <h2>Equipamentos</h2> 
        <p>Gerir equipamentos da instituição.</p> 
    </section> 
</main> 


</body>
</html>